<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AquaGuard | Home</title>
    <link rel="stylesheet" href="../static/aquaguard/aquaguard.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<body>
    <header>
        <img src="../static/aquaguard/images/Logo.png" class="logo">
        <div class="search">
            <span class="material-symbols-outlined">
                search
            </span>
            <input type="text" placeholder="Search city..." required>
        </div>
        <div class="buttons">
            <button class="currentLocation">
                <span class="material-symbols-outlined">
                    my_location
                    </span>
                    <p>Current Location</p>
            </button>
            <button class="light-dark-mode">
                <span class="material-symbols-outlined">
                    settings_night_sight
                    </span>
                    <p>Light Mode</p>
            </button>
        </div>
    </header>

    <main>
        <div class="left-panel">
            <div class="lake-info">
                <h5>The nearest water area</h5>
                <h2>cayuga lake</h2>
                <div class="date">
                    <span class="material-symbols-outlined">
                        calendar_month
                        </span>
                        <p>                        September 24, 2023
                        </p>
                    </div>
                <div class="date">
                    <span class="material-symbols-outlined">
                        location_on
                        </span>
                        <p>New York, USA                        </p>
                    </div>
            </div>
        </div>
        <div class="container">
            <div class="water-highlights">
                <div class="card">
                    <div class="head">
                        <p class="header">Water Quality Index</p>
                        <p class="quality">Good</p>
                    </div>
                    <div class="g">
    
                        <span class="material-symbols-outlined">
                            water
                        </span>
                        <div>
                            <p>pH</p>
                            <h5>6</h5>
                        </div>
                        <div>
                            <p>DO</p>
                            <h5>5.6</h5>
                        </div>
                        <div>
                            <p>HABs</p>
                            <h5>8.6</h5>
                        </div>
                        <div>
                            <p>O3</p>
                            <h5>6.7</h5>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="head">
                        <p class="header">Water Sustainability</p>
                    </div>
                    <div class="water-features">
                        <div class="water-feature">
                            <span class="material-symbols-outlined">
                                water
                            </span>
                            <div>
                                <p>Swimmable</p>
                                <h5>Yes</h5>
                            </div>
                        </div>
                        <div class="water-feature">
                            <span class="material-symbols-outlined">
                                glass_cup
                            </span>
                            <div>
                                <p>Drinkable</p>
                                <h5>No</h5>
                            </div>
                        </div>
                        <div class="water-feature">
                            <span class="material-symbols-outlined">
                                deceased
                            </span>
                            <div>
                                <p>Suitable for Plants</p>
                                <h5>Yes</h5>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="analytics-cards">
                    <div class="analytics-card">
                        <h4 class="header">Humidity</h4>
                        <div class="analy">
                            <span class="material-symbols-outlined">
                                humidity_percentage
                            </span>
                            <h5>62%</h5>
                        </div>
                    </div>
                    <div class="analytics-card">
                        <h4 class="header">Pressure</h4>
                        <div class="analy">
                            <span class="material-symbols-outlined">
                                water
                            </span>
                            <h5>1015hPa</h5>
                        </div>
                    </div>
                    <div class="analytics-card">
                        <h4 class="header">Visibility</h4>
                        <div class="analy">
                            <span class="material-symbols-outlined">
                                visibility
                            </span>
                            <h5>10km</h5>
                        </div>
                    </div>
                    <div class="analytics-card">
                        <h4 class="header">Humidity</h4>
                        <div class="analy">
                            <span class="material-symbols-outlined">
                                humidity_percentage
                            </span>
                            <h5>62%</h5>
                        </div>
                    </div>
                </div>
    
            </div>
    
            <div class="sea-creatures">
                <h2 class="headline">Sea Creatures</h2>
                <div class="fish-cards">
                    <div class="fish-card">
                        <img src="../static/aquaguard/images/fish.jpg">
                        <h1 class="fish-name">Atlantic Salmon</h1>
                        <button class="Know-More">
                            <span class="material-symbols-outlined">
                                info
                                </span>
                                <p>Know More</p>
                        </button>
                    </div>
                    <div class="fish-card">
                        <img src="../static/aquaguard/images/fish.jpg">
                        <h1 class="fish-name">Atlantic Salmon</h1>
                        <button class="Know-More">
                            <span class="material-symbols-outlined">
                                info
                                </span>
                                <p>Know More</p>
                        </button>
                    </div>
                    <div class="fish-card">
                        <img src="../static/aquaguard/images/fish.jpg">
                        <h1 class="fish-name">Atlantic Salmon</h1>
                        <button class="Know-More">
                            <span class="material-symbols-outlined">
                                info
                                </span>
                                <p>Know More</p>
                        </button>
                    </div>
                    <div class="fish-card">
                        <img src="../static/aquaguard/images/fish.jpg">
                        <h1 class="fish-name">Atlantic Salmon</h1>
                        <button class="Know-More">
                            <span class="material-symbols-outlined">
                                info
                                </span>
                                <p>Know More</p>
                        </button>
                    </div>
                    <div class="fish-card">
                        <img src="../static/aquaguard/images/fish.jpg">
                        <h1 class="fish-name">Atlantic Salmon</h1>
                        <button class="Know-More">
                            <span class="material-symbols-outlined">
                                info
                                </span>
                                <p>Know More</p>
                        </button>
                    </div>
                    <div class="fish-card">
                        <img src="../static/aquaguard/images/fish.jpg">
                        <h1 class="fish-name">Atlantic Salmon</h1>
                        <button class="Know-More">
                            <span class="material-symbols-outlined">
                                info
                                </span>
                                <p>Know More</p>
                        </button>
                    </div>
                    
                </div>
            </div>
        </div>
    </main>
</body>
</html>